<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="nav">
        <ul>
            <li><a href="/" class="dropbtn">Home</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Movies</a>
                <div class="dropdown-content">
                    <a href="/movies">Movies List</a>
                    <a href="/movie/create">Add new Movie</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Directors</a>
                <div class="dropdown-content">
                    <a href="/directors">Director List</a>
                    <a href="/director/create">Add new Director</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Genres</a>
                <div class="dropdown-content">
                    <a href="/genres">Genres List</a>
                    <a href="/genre/create">Add new Genre</a>
                </div>
            </li>
            <li style="float:right"><a href="https://github.com/Mighil31/movie_database" target="_blank" class="dropbtn" >Github</a></li>
        </ul>
    </div>
